#container{
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat (4, );
    grid-gap: 5em;
    
    grid-template-areas:
        " menu menu menu menu menu"
        " signup none header search search"
        "login none header posts posts"
        " main post post posts posts";
}

#title{
    grid-area: header;
    height: 300px;
    width: 200px;
}

#menu{
    grid-area:menu;
}

#login{
    grid-area:login;
}

#sign-up{
    grid-area:signup;
}

#post{
    grid-area:post;
}

#posts {
    grid-area: posts;
    margin-top: -25%;
    overflow-y: scroll;
    height: 600px;
    border: solid 3px;
}


#search{
    grid-area: search;
}

a{
    text-decoration: none;
}

#profile {
	grid-area: main;
}

#user-info {
	display: none;
	grid-area: login;
}

#edit, #edit-profile {
	display: none;
}

.logged-in #edit {
	display: block;
}

.logged-in #user-info {
	display: block;
}

.logged-in #sign-up,
.logged-in #login {
	display: none;
}

#write-title{
    resize: none;
}