/*color scheme*/

:root{
	--title-color:;
	--title-shadow:;
    --author:white;
    --menuback:;
    --menuitem: ;
    --background:white;
    --
}

body{
   
}

#title{

    
}

#login *, #sign-up *,#post *{
   
}

#posts{
    
}



#menu{
   

}

#menu a{
   
    
}

#menu a:hover{
    
    
}

#write-post{
	
}

.post{
    
}

.post-text{
   
}

.author{

}

.date{

}

#write-post{
    
}

#submit-post {
    
}

#submit-sign-up{
    
}

#submit-login{
    
 }

