#menu-list{
    padding: 0;
    list-style: none;
    display: flex;
    
    justify-content:space-between
    }

#menu-list li{
    flex-direction:row;
    background-color: aqua;
    flex-basis: 150px;
    font-size: 20px;
}