body{
    background-color: aqua;
}

#container{
    width: 1100px;
    margin: 0 auto;
    
}

#slide{
    margin-top: 50px;
    font-size: 25px;
    border-style: dotted;
    border-width: 3px;
}




    