@import url(<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Josefin+Slab|Open+Sans+Condensed:300|Rubik" rel="stylesheet">

)


body{
    font-size: 18px;
    line-height: 1.25;
}

#title{
   font-family: 'Fredoka One', cursive;
}

#login *, #sign-up *{
    
font-family: 'Josefin Slab', serif;
    
}

#posts{
    font-family: 'Open Sans Condensed', sans-serif;
}

#menu a{
    color:black;
    font-size:40px;
    transition: background-color .2s;
    
}

#menu a:hover{
    background-color: aqua;
}



