@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Quicksand|Staatliches');

body{
    font-size: 18px;
    line-height: 1.25;
}

#title{
   font-family: 'Hammersmith One', sans-serif;
    font-size: 2em;
}

#login *, #sign-up *{
    
font-family: 'Quicksand', sans-serif;
    
}

#posts{
    font-family:'Quicksand', sans-serif;
}

#menu{
    font-family: 'Staatliches', cursive;
}

#menu a{
    color:black;
    font-size:40px;
    transition: background-color .2s;
    
}

#menu a:hover{
    background-color: aqua;
}

#write-post{
    width: 100%;
    padding: 1.5em;
    resize: none;
}



