@import url('https://fonts.googleapis.com/css?family=Anton|Cardo|Cormorant+Garamond|Roboto+Slab');


body{
    font-size: 18px;
    line-height: 1.25;
}

#title{
    color:skyblue;
    font-size: 30px;
    text-shadow: 6px 1px 0 black;
    font-family:'Anton', sans-serif; 
    letter-spacing: 5px;
    
}

#login *, #sign-up *,#post *{
   font-family: 'Cormorant Garamond', serif;
    padding: 1em;
    margin: .5em;
}

#posts{
    font-family: 'Cardo', serif;
}



#menu{
    font-family:'Roboto Slab', serif;
    background-color:bisque;

}

#menu a{
    color:black;
    font-size:40px;
    color: royalblue;
    transition: background-color .2s;
    
}

#menu a:hover{
    background-color:black;
    color: hotpink;
    border-radius: .5em;
    
}

#write-post{
	width: 100%;
	padding: .5em;
	resize: none;
}

.post{
    margin: 2em 0;
}

.post-text{
    font-size: 1.2em;
    margin-bottom: .6em;
}

.author{
    color: darkblue;
    font-weight: 600;
    text-decoration: underline;
}

.date{
    color:ghostwhite;
}

#write-post{
    width: 100%;
    padding-bottom: 10em;
    resize: none;
}


/*mobile*/
@media (max-width: 400px) {
    
    
    
    
}

/*tablet*/
@media(min-width:401px) and (max-width:800px){
     body{
         font-size: 16px;
    
    
    
    
}


