@import url


body{
    font-size: 18px;
    line-height: 1.25;
}

#title{
   font-size: 30px;
    text-shadow: 4px 2px 0 pink;
}

#login *, #sign-up *{
    
}

#posts{
    
}

#menu a{
    color:black;
    font-size:40px;
    transition: background-color .2s;
    
}

#menu a:hover{
    background-color: aqua;
}



