/*mobile*/
@media (max-width: 400px) {
    #container{
        width: 100%;
        grid-template-columns:1fr;
        grid-template-areas:
            "header"
            "menu"
            "signup"
            "login"
            "post"
            "posts"
            ;
            }
    }

/*tablet*/
@media(min-width:401px) and (max-width:800px){
    #container{
        grid-template-rows:3fr;
        grid-template-columns:3fr;
        grid-template-areas:
            "menu header blank"
            "signup post posts"
            "login post posts"
            
            
        
    }
}